.App{
  /* background-color: black; */
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.card{
  width: 10em;
  /* height: 10em; */

  /* color: white; */
}

.card-image{

  width: 4em !important;
  height: auto;
  margin: 0 auto;
}

.wynjoke-logo{

  /* width: 10em !important;
  height: auto;
  margin: 0 auto; */
}

.card-header{
  background-color: black !important;
  color: white;
  height: 20vh;
  width: 6em;
  /* padding-top: .5em; */
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.banner{
  text-align: center;
  margin-top: 10em;
}
.banner-top{
  text-align: center;
  background-color: #002e4f;
  height: 180vh;
}

.grid{
  display: flex;
  justify-content: center;
}

.buttons-margin{
  padding-top: 2em;
}

#download-link {
  text-decoration: none;
}

.download-space{
  padding-top: 10em;
}

.zindex-test{

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.site-title{
  padding-top: 3em;
  color: white !important;
}

.project-title{
  color: white !important;
}

.main-section{
  padding-top: 17em;
  font-weight: bold;
}

.project-section-title{
  padding-bottom: 5em;
}

.main-stepper{
  position: fixed;
  right: 0;
  top: 25%;
  background: transparent !important;
}

.button-group{
  width: 50%;
  margin: 0 auto;
  margin-top: 6em;
  display: flex;
  justify-content: space-around;
}

.home-button{
  width: 20px;
}
