.App{
  /* background-color: black; */
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.card{
  width: 10em;
  /* height: 10em; */
  background-color: black !important;
  color: white;
}

.card-image{

  width: 4em !important;
  height: auto;
  margin: 0 auto;
}

.wynjoke-logo{

  /* width: 10em !important;
  height: auto;
  margin: 0 auto; */
}

.card-header{
  background-color: black !important;
  color: white;
  height: 20vh;
  width: 6em;
  /* padding-top: .5em; */
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.banner{
  text-align: center;
  margin-top: 10em;
}
.banner-top{
  text-align: center;
  background-color: #d8d8d8;
  height: 100vh;
}

.grid{
  display: flex;
  justify-content: center;
}

.buttons-margin{
  padding-top: 2em;
}

#download-link {
  text-decoration: none;
}

.download-space{
  padding-top: 10em;
}
